In [42]:
import pandas as pd

df = pd.read_excel("league_data.xlsx")
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40410 entries, 0 to 40409
Data columns (total 94 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   game_id                                40410 non-null  int64
 1   game_start_utc                         40410 non-null  datetime64[ns]
 2   game_duration                          40410 non-null  int64
 3   game_mode                              40410 non-null  object
 4   game_type                              40410 non-null  object
 5   game_version                           40410 non-null  object
 6   map_id                                 40410 non-null  int64
 7   platform_id                            40410 non-null  object
 8   queue_id                               40410 non-null  int64
 9   participant_id                         40410 non-null  int64
 10  puuid                                  40410 non-null  object
 11  summoner_name                          38102 non-null  object
 12  summoner_id                            40410 non-null  object
 13  summoner_level                         40410 non-null  int64
 14  champion_id                            40410 non-null  int64
 15  champion_name                          40410 non-null  object
 16  team_id                                40410 non-null  int64
 17  win                                    40410 non-null  bool
 18  individual_position                    40410 non-null  object
 19  team_position                          30662 non-null  object
 20  lane                                   40410 non-null  object
 21  role                                   40410 non-null  object
 22  kills                                  40410 non-null  int64
 23  deaths                                 40410 non-null  int64
 24  assists                                40410 non-null  int64
 25  baron_kills                            40410 non-null  int64
 26  dragon_kills                           40410 non-null  int64
 27  gold_earned                            40410 non-null  int64
 28  gold_spent                             40410 non-null  int64
 29  total_damage_dealt                     40410 non-null  int64
 30  total_damage_dealt_to_champions        40410 non-null  int64
 31  physical_damage_dealt_to_champions     40410 non-null  int64
 32  magic_damage_dealt_to_champions        40410 non-null  int64
 33  true_damage_dealt_to_champions         40410 non-null  int64
 34  damage_dealt_to_objectives             40410 non-null  int64
 35  damage_dealt_to_turrets                40410 non-null  int64
 36  total_damage_taken                     40410 non-null  int64
 37  physical_damage_taken                  40410 non-null  int64
 38  magic_damage_taken                     40410 non-null  int64
 39  true_damage_taken                      40410 non-null  int64
 40  time_ccing_others                      40410 non-null  int64
 41  vision_score                           40410 non-null  int64
 42  wards_placed                           40410 non-null  int64
 43  wards_killed                           40410 non-null  int64
 44  vision_wards_bought_in_game            40410 non-null  int64
 45  item0                                  40410 non-null  int64
 46  item1                                  40410 non-null  int64
 47  item2                                  40410 non-null  int64
 48  item3                                  40410 non-null  int64
 49  item4                                  40410 non-null  int64
 50  item5                                  40410 non-null  int64
 51  item6                                  40410 non-null  int64
 52  solo_tier                              27866 non-null  object
 53  solo_rank                              27866 non-null  object
 54  solo_lp                                27866 non-null  float64
 55  solo_wins                              27866 non-null  float64
 56  solo_losses                            27866 non-null  float64
 57  flex_tier                              10363 non-null  object
 58  flex_rank                              10363 non-null  object
 59  flex_lp                                10363 non-null  float64
 60  flex_wins                              10363 non-null  float64
 61  flex_losses                            10363 non-null  float64
 62  champion_mastery_level                 40380 non-null  float64
 63  champion_mastery_points                40380 non-null  float64
 64  champion_mastery_lastPlayTime          40380 non-null  float64
 65  champion_mastery_lastPlayTime_utc      40380 non-null  datetime64[ns]
 66  champion_mastery_pointsSinceLastLevel  40380 non-null  float64
 67  champion_mastery_pointsUntilNextLevel  40380 non-null  float64
 68  champion_mastery_tokensEarned          40380 non-null  float64
 69  final_abilityHaste                     40410 non-null  int64
 70  final_abilityPower                     40410 non-null  int64
 71  final_armor                            40410 non-null  int64
 72  final_armorPen                         40410 non-null  int64
 73  final_armorPenPercent                  40410 non-null  int64
 74  final_attackDamage                     40410 non-null  int64
 75  final_attackSpeed                      40410 non-null  int64
 76  final_bonusArmorPenPercent             40410 non-null  int64
 77  final_bonusMagicPenPercent             40410 non-null  int64
 78  final_ccReduction                      40410 non-null  int64
 79  final_cooldownReduction                40410 non-null  int64
 80  final_health                           40410 non-null  int64
 81  final_healthMax                        40410 non-null  int64
 82  final_healthRegen                      40410 non-null  int64
 83  final_lifesteal                        40410 non-null  int64
 84  final_magicPen                         40410 non-null  int64
 85  final_magicPenPercent                  40410 non-null  int64
 86  final_magicResist                      40410 non-null  int64
 87  final_movementSpeed                    40410 non-null  int64
 88  final_omnivamp                         40410 non-null  int64
 89  final_physicalVamp                     40410 non-null  int64
 90  final_power                            40410 non-null  int64
 91  final_powerMax                         40410 non-null  int64
 92  final_powerRegen                       40410 non-null  int64
 93  final_spellVamp                        40410 non-null  int64
dtypes: bool(1), datetime64[ns](2), float64(12), int64(63), object(16)
memory usage: 28.7+ MB

,game_id,game_start_utc,game_duration,map_id,queue_id,participant_id,summoner_level,champion_id,team_id,kills,...,final_magicPen,final_magicPenPercent,final_magicResist,final_movementSpeed,final_omnivamp,final_physicalVamp,final_power,final_powerMax,final_powerRegen,final_spellVamp
count,4.041000e+04,40410,40410.000000,40410.000000,40410.000000,40410.000000,40410.000000,40410.000000,40410.000000,40410.000000,...,40410.000000,40410.00000,40410.000000,40410.000000,40410.000000,40410.0,40410.000000,40410.000000,40410.000000,40410.000000
mean,3.725500e+09,2025-01-11 21:39:50.111358720,1581.655902,11.240782,430.002475,5.498144,393.328904,176.765429,149.962880,7.274091,...,5.653724,1.92638,71.650408,405.431106,0.043702,0.0,1024.290572,1257.735659,61.021975,0.005593
min,3.551580e+09,2024-02-17 16:03:00,101.000000,11.000000,400.000000,1.000000,2.000000,1.000000,100.000000,0.000000,...,0.000000,0.00000,-3.000000,129.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,3.727229e+09,2025-01-14 22:39:00,1277.000000,11.000000,420.000000,3.000000,201.000000,45.000000,100.000000,3.000000,...,0.000000,0.00000,48.000000,380.000000,0.000000,0.0,496.000000,783.000000,30.000000,0.000000
50%,3.728683e+09,2025-01-17 22:44:00,1618.000000,11.000000,420.000000,5.000000,360.000000,99.000000,100.000000,6.000000,...,0.000000,0.00000,54.000000,395.000000,0.000000,0.0,845.000000,1038.000000,41.000000,0.000000
75%,3.729385e+09,2025-01-19 08:19:00,1883.000000,11.000000,450.000000,8.000000,544.000000,203.000000,200.000000,10.000000,...,12.000000,0.00000,81.000000,415.000000,0.000000,0.0,1257.000000,1570.000000,67.000000,0.000000
max,3.730264e+09,2025-01-20 21:16:00,3307.000000,12.000000,890.000000,10.000000,2065.000000,950.000000,200.000000,48.000000,...,49.000000,48.00000,515.000000,1193.000000,25.000000,0.0,10000.000000,10000.000000,1013.000000,26.000000
std,1.755725e+07,NaN,477.051611,0.427563,22.964271,2.872316,251.874061,222.688428,50.000605,5.799235,...,11.022641,7.22606,38.658925,45.587867,0.674440,0.0,1209.163188,1207.966365,62.263617,0.376588

In League of Legends, there are a multitude of game modes to choose from. Since our problem wants to predict a W/L for a team in the Summoner's Rift classic game mode, the data should only contain data from that mode.

In [43]:
# Filter for CLASSIC game mode
print(df.columns.tolist())

df = df[df['game_mode'] == 'CLASSIC']

['game_id', 'game_start_utc', 'game_duration', 'game_mode', 'game_type', 'game_version', 'map_id', 'platform_id', 'queue_id', 'participant_id', 'puuid', 'summoner_name', 'summoner_id', 'summoner_level', 'champion_id', 'champion_name', 'team_id', 'win', 'individual_position', 'team_position', 'lane', 'role', 'kills', 'deaths', 'assists', 'baron_kills', 'dragon_kills', 'gold_earned', 'gold_spent', 'total_damage_dealt', 'total_damage_dealt_to_champions', 'physical_damage_dealt_to_champions', 'magic_damage_dealt_to_champions', 'true_damage_dealt_to_champions', 'damage_dealt_to_objectives', 'damage_dealt_to_turrets', 'total_damage_taken', 'physical_damage_taken', 'magic_damage_taken', 'true_damage_taken', 'time_ccing_others', 'vision_score', 'wards_placed', 'wards_killed', 'vision_wards_bought_in_game', 'item0', 'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'solo_tier', 'solo_rank', 'solo_lp', 'solo_wins', 'solo_losses', 'flex_tier', 'flex_rank', 'flex_lp', 'flex_wins', 'flex_losses', 'champion_mastery_level', 'champion_mastery_points', 'champion_mastery_lastPlayTime', 'champion_mastery_lastPlayTime_utc', 'champion_mastery_pointsSinceLastLevel', 'champion_mastery_pointsUntilNextLevel', 'champion_mastery_tokensEarned', 'final_abilityHaste', 'final_abilityPower', 'final_armor', 'final_armorPen', 'final_armorPenPercent', 'final_attackDamage', 'final_attackSpeed', 'final_bonusArmorPenPercent', 'final_bonusMagicPenPercent', 'final_ccReduction', 'final_cooldownReduction', 'final_health', 'final_healthMax', 'final_healthRegen', 'final_lifesteal', 'final_magicPen', 'final_magicPenPercent', 'final_magicResist', 'final_movementSpeed', 'final_omnivamp', 'final_physicalVamp', 'final_power', 'final_powerMax', 'final_powerRegen', 'final_spellVamp']

The problem being solved is related to a player's level, solo rank, w/l history, and selected chamption mastery. Therefore, only columns related to these properties will be used.
team_id = 100/200 (blue/red)

In [44]:
# Select only relevant columns
cols_to_keep = ['game_id', 'team_id', 'win', 'summoner_level', 'solo_tier', 'solo_rank', 'solo_lp', 'solo_wins', 'solo_losses', 'champion_mastery_points']

df = df[cols_to_keep]

df.head()

,game_id,team_id,win,summoner_level,solo_tier,solo_rank,solo_lp,solo_wins,solo_losses,champion_mastery_points
0,3727443167,100,True,2065,MASTER,I,143.0,45.0,43.0,889610.0
1,3726377460,100,False,2064,MASTER,I,143.0,45.0,43.0,852655.0
2,3729643655,100,False,1851,DIAMOND,I,4.0,15.0,12.0,1756910.0
3,3729915593,200,False,1796,DIAMOND,I,68.0,20.0,17.0,35230.0
4,3729901665,200,False,1796,DIAMOND,I,68.0,20.0,17.0,642297.0

In [45]:
# Confirm that each game_id has 10 rows associated (10 players per game)
player_counts = df.groupby("game_id").size()
player_counts.value_counts()

print(player_counts[player_counts != 10])
# If there were any game_ids with a count != 10, we would need to remove any rows with that game_id

Series([], dtype: int64)

In [46]:
# Confirm that each game_id:team_id has 5 rows associated (5 players per team)
player_counts = df.groupby(["game_id", "team_id"]).size()
player_counts.value_counts()

print(player_counts[player_counts != 5])
# If there were any game_id:team_id with a count != 5, we would need to remove any rows with that game_id

Series([], dtype: int64)

In [47]:
# Remove any games where all players in a game are unranked
missing_all = df.groupby('game_id')['solo_tier'].apply(lambda s: s.isna().all())
bad_game_ids = missing_all[missing_all].index.tolist()
df = df[~df['game_id'].isin(bad_game_ids)]

In [48]:
# Find all unique rank tiers from the data set.
rank_tiers = df['solo_tier'].unique()
print(rank_tiers)

# Find all unique ranks from the data set.
rank = df['solo_rank'].unique()
print(rank)

['MASTER' 'DIAMOND' nan 'GOLD' 'PLATINUM' 'BRONZE' 'GRANDMASTER' 'EMERALD'
 'CHALLENGER' 'SILVER' 'IRON']
['I' nan 'IV' 'III' 'II']

In [49]:
# Normalize solo_tier, solo_rank, and solo_lp. We don't handle nan here since it will be handled in the next step.
tier_weights = {
    "IRON": 1,
    "BRONZE": 2,
    "SILVER": 3,
    "GOLD": 4,
    "PLATINUM": 5,
    "EMERALD": 6,
    "DIAMOND": 7,
    "MASTER": 8,
    "GRANDMASTER": 9,
    "CHALLENGER": 10
}

# Define numeric order of rank within the tier (I > II > III > IV)
rank_weights = {'I': 4, 'II': 3, 'III': 2, 'IV': 1}

tier_lp_offset = 400
rank_lp_offset = 100

df['solo_rank_normalized'] = (
    df['solo_tier'].map(tier_weights) * tier_lp_offset + 
    df['solo_rank'].map(rank_weights).fillna(1) * rank_lp_offset +
    df['solo_lp']
)

df.head()
# df.tail()

,game_id,team_id,win,summoner_level,solo_tier,solo_rank,solo_lp,solo_wins,solo_losses,champion_mastery_points,solo_rank_normalized
0,3727443167,100,True,2065,MASTER,I,143.0,45.0,43.0,889610.0,3743.0
1,3726377460,100,False,2064,MASTER,I,143.0,45.0,43.0,852655.0,3743.0
2,3729643655,100,False,1851,DIAMOND,I,4.0,15.0,12.0,1756910.0,3204.0
3,3729915593,200,False,1796,DIAMOND,I,68.0,20.0,17.0,35230.0,3268.0
4,3729901665,200,False,1796,DIAMOND,I,68.0,20.0,17.0,642297.0,3268.0

In [50]:
# For unranked players, fill in the solo_rank_normalized with the average solo_rank_normalized for that game_id
df.loc[df['solo_rank_normalized'].isna(), 'solo_rank_normalized'] = (
    df.groupby(['game_id'])['solo_rank_normalized']
      .transform(lambda s: s.fillna(s.mean()))
)

# Confirm that all players have a solo_rank_normalized
print('Remaining rows with no solo_rank_normalized:', df['solo_rank_normalized'].isna().sum())

Remaining rows with no solo_rank_normalized: 0

In [51]:
# Drop the solo_tier, solo_rank, and solo_lp columns
df = df.drop(columns=['solo_tier', 'solo_rank', 'solo_lp'])

df.head()
# df.tail()

,game_id,team_id,win,summoner_level,solo_wins,solo_losses,champion_mastery_points,solo_rank_normalized
0,3727443167,100,True,2065,45.0,43.0,889610.0,3743.0
1,3726377460,100,False,2064,45.0,43.0,852655.0,3743.0
2,3729643655,100,False,1851,15.0,12.0,1756910.0,3204.0
3,3729915593,200,False,1796,20.0,17.0,35230.0,3268.0
4,3729901665,200,False,1796,20.0,17.0,642297.0,3268.0

In [52]:
# Before aggregating the data, we should replace nan wins/losses with 0
df['solo_wins'] = df['solo_wins'].fillna(0)
df['solo_losses'] = df['solo_losses'].fillna(0)

df.head()

,game_id,team_id,win,summoner_level,solo_wins,solo_losses,champion_mastery_points,solo_rank_normalized
0,3727443167,100,True,2065,45.0,43.0,889610.0,3743.0
1,3726377460,100,False,2064,45.0,43.0,852655.0,3743.0
2,3729643655,100,False,1851,15.0,12.0,1756910.0,3204.0
3,3729915593,200,False,1796,20.0,17.0,35230.0,3268.0
4,3729901665,200,False,1796,20.0,17.0,642297.0,3268.0

In [56]:
team_df = (
    df.groupby(['game_id', 'team_id', 'win'])
      .agg({
          'summoner_level': 'mean',
          'solo_wins': 'mean',
          'solo_losses': 'mean',
          'champion_mastery_points': 'mean',
          'solo_rank_normalized': 'mean'
      })
      .reset_index()
)
team_df.head()

# rename the columns to mean_
team_df.rename(columns={
    'summoner_level': 'mean_summoner_level',
    'solo_wins': 'mean_solo_wins',
    'solo_losses': 'mean_solo_losses',
    'champion_mastery_points': 'mean_champion_mastery_points',
    'solo_rank_normalized': 'mean_solo_rank_normalized'
}, inplace=True)
team_df.head()

,game_id,team_id,win,mean_summoner_level,mean_solo_wins,mean_solo_losses,mean_champion_mastery_points,mean_solo_rank_normalized
0,3551579567,100,True,90.0,4.4,5.4,43470.6,1288.2
1,3551579567,200,False,190.6,0.8,1.0,66305.8,1322.8
2,3551608175,100,False,183.2,10.0,8.4,154352.8,2145.0
3,3551608175,200,True,292.2,0.0,0.0,239480.8,2145.0
4,3554098287,100,False,270.8,2.0,2.0,110482.4,1476.5